Connect2DBFlow.json
[{"id":"c50a17e.8a723e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c4ac79b1.398728","type":"http in","z":"c50a17e.8a723e8","name":"","url":"/api/last","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["5f5b12db.99b2ec"]]},{"id":"6b92a443.ff7e9c","type":"http response","z":"c50a17e.8a723e8","name":"","statusCode":"","headers":{},"x":650,"y":140,"wires":[]},{"id":"59b5289e.9303c8","type":"function","z":"c50a17e.8a723e8","name":"","func":"last = msg.payload.length;\nmsg.payload = msg.payload[last -1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":140,"wires":[["6b92a443.ff7e9c","e134c6b6.38ee78"]]},{"id":"5f5b12db.99b2ec","type":"mongodb2 in","z":"c50a17e.8a723e8","service":"_ext_","configNode":"f4bc4518.cbf658","name":"","collection":"sensordata","operation":"find.toArray","x":520,"y":80,"wires":[["59b5289e.9303c8"]]},{"id":"fd6209f7.1aff98","type":"http in","z":"c50a17e.8a723e8","name":"","url":"/api/lastminute","method":"get","upload":false,"swaggerDoc":"","x":150,"y":280,"wires":[["e5c5bb56.f45e68"]]},{"id":"1154bf67.ca9611","type":"http response","z":"c50a17e.8a723e8","name":"","statusCode":"","headers":{},"x":710,"y":300,"wires":[]},{"id":"5ffc3168.35e7a","type":"function","z":"c50a17e.8a723e8","name":"","func":"last = msg.payload.length;\nlast_min = last - 60;\nvar output = []\nfor (let i = last_min; i < last; i++) {\n  output.push(msg.payload[i]);\n}\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":280,"wires":[["1154bf67.ca9611","62ad0ccd.5639c4"]]},{"id":"e5c5bb56.f45e68","type":"mongodb2 in","z":"c50a17e.8a723e8","service":"ext","configNode":"f4bc4518.cbf658","name":"","collection":"sensordata","operation":"find.toArray","x":460,"y":240,"wires":[["5ffc3168.35e7a"]]},{"id":"e134c6b6.38ee78","type":"debug","z":"c50a17e.8a723e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":180,"wires":[]},{"id":"62ad0ccd.5639c4","type":"debug","z":"c50a17e.8a723e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":340,"wires":[]},{"id":"f4bc4518.cbf658","type":"mongodb2","uri":"mongodb://127.0.0.1:27017/IOTLAB","name":"","options":"","parallelism":"-1"}]