RoomCosinessFlow.json
[{"id":"cdf742f3.4c11b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8315861a.1b89e8","type":"mqtt in","z":"cdf742f3.4c11b","name":"","topic":"Temperature","qos":"2","datatype":"auto","broker":"2495a33c.860f1c","x":130,"y":220,"wires":[["44ef05f9.a4f70c"]]},{"id":"44ef05f9.a4f70c","type":"function","z":"cdf742f3.4c11b","name":"","func":"var Temperature = parseInt(msg.payload);\nmsg.payload = Temperature;\nmsg.topic=\"Temperature\";\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["c27c6f7f.a3ca2","71aaab87.024d84"]]},{"id":"6088bf4f.8435c","type":"mqtt in","z":"cdf742f3.4c11b","name":"","topic":"Light","qos":"2","datatype":"auto","broker":"2495a33c.860f1c","x":110,"y":340,"wires":[["43edb04f.e2254"]]},{"id":"4f63442.1e437bc","type":"mqtt in","z":"cdf742f3.4c11b","name":"","topic":"Sound","qos":"2","datatype":"auto","broker":"2495a33c.860f1c","x":90,"y":480,"wires":[["3ee2a0f4.b32c2"]]},{"id":"43edb04f.e2254","type":"function","z":"cdf742f3.4c11b","name":"","func":"var Light = parseInt(msg.payload)\nmsg.payload = Light;\nmsg.topic = \"Light\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":360,"wires":[["fda7f71a.48e1d8","c27c6f7f.a3ca2"]]},{"id":"3ee2a0f4.b32c2","type":"function","z":"cdf742f3.4c11b","name":"","func":"var Sound = parseInt(msg.payload)\nmsg.payload = Sound;\nmsg.topic = \"Sound\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":500,"wires":[["c27c6f7f.a3ca2","467f3409.91800c"]]},{"id":"f817b90a.3916b8","type":"inject","z":"cdf742f3.4c11b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Temperature","payload":"Temperature","payloadType":"str","x":210,"y":80,"wires":[["8893329d.43fd1"]]},{"id":"8893329d.43fd1","type":"mqtt out","z":"cdf742f3.4c11b","name":"","topic":"","qos":"2","retain":"","broker":"2495a33c.860f1c","x":570,"y":80,"wires":[]},{"id":"fda7f71a.48e1d8","type":"debug","z":"cdf742f3.4c11b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":420,"wires":[]},{"id":"c27c6f7f.a3ca2","type":"function","z":"cdf742f3.4c11b","name":"Merged Sensor Data","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"Temperature\":\n        context.data.Temperature = msg.payload;\n        msg = null;\n        break;\n        \n    case \"Light\":\n        context.data.Light = msg.payload;\n        msg = null;\n        break;\n        \n    case \"Sound\":\n        context.data.Sound = msg.payload;\n        msg = null;\n        break;\n        \n     case \"Humidity\":\n        context.data.Humidity = msg.payload;\n        msg = null;\n        break;\n    \n}\n\nif (context.data.Temperature != null && context.data.Light != null && context.data.Sound != null && context.data.Humidity != null){\n\tmsg2 = new Object();\n\tmsg2.payload = context.data;\n    context.data=null;\n    global.set(\"All\",msg2.payload);\n    msg2.topic = \"data_arduino\"\n\treturn msg2;\n} else return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":460,"wires":[["f4ec3ae1.e95ac8","fe51ad2f.d4c42","d292ad19.f05e8","d7555d7c.8a4e7","e848c401.afd4c8","89dfdebb.e5e2e"]]},{"id":"467f3409.91800c","type":"debug","z":"cdf742f3.4c11b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":560,"wires":[]},{"id":"f4ec3ae1.e95ac8","type":"function","z":"cdf742f3.4c11b","name":"Humidex","func":"var Temperature = msg.payload.Temperature;\nvar Humidity = msg.payload.Humidity;\n\n\nvar read_dew = Temperature - ((100 - Humidity)/5);\nvar dew_kel = read_dew + 273.15;\nvar e = 6.11* Math.exp(5417.7530 * ((1/273.16) - (1/dew_kel)));\nvar h = 0.5555 * (e-10.0);\nvar Humidex = Temperature + h;\nmsg.payload = Humidex;\n\nif(Humidex<15 ){\n    Humidex_index = \"Feeling cool or cold\"\n}else if(Humidex>=15 && Humidex<20){\n    Humidex_index = \"\tNo discomfort\"\n}\nelse if(Humidex>=20 && Humidex<30){\n    Humidex_index = \"Feeling of well-being\"\n}\nelse if(humidex>=30 && Humidex<35){\n    Humidex_index = \"Feeling of greater or lesser discomfort\"\n}\nelse if(Humidex>=35 && Humidex<40){\n    Humidex_index = \"Rather great feeling of discomfort.Caution. Slow down certain outdoor activities\"\n}\nelse if(Humidex>=40 && Humidex<46){\n    Humidex_index = \"Generalized feeling of discomfort. Danger. Avoid effort\"\n}\nelse if(Humidex>=46 && Humidex<54){\n    Humidex_index = \"Extreme danger. Work stoppage in many areas.\"\n}\nelse if (Humidex>=54){\n    Humidex_index = \"Imminent heat stroke (danger of death).\"\n}\nmsg.payload = {\"Humidex_index\" : Humidex_index, \"Humidex\" : Humidex};\nglobal.set(\"Humidex\",msg.payload);\nmsg.payload = Humidex;\nmsg.topic = Humidex_index;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":180,"wires":[["f313ead.5593318","8e1110cb.8c92b","819b4a7d.90b968"]]},{"id":"71aaab87.024d84","type":"debug","z":"cdf742f3.4c11b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":280,"wires":[]},{"id":"8d989e39.855f4","type":"debug","z":"cdf742f3.4c11b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":640,"wires":[]},{"id":"97e1f796.3d7fc8","type":"mqtt in","z":"cdf742f3.4c11b","name":"","topic":"Humidity","qos":"2","datatype":"auto","broker":"2495a33c.860f1c","x":100,"y":640,"wires":[["ad41492b.ba2c18"]]},{"id":"ad41492b.ba2c18","type":"function","z":"cdf742f3.4c11b","name":"","func":"var Humidity =parseInt(msg.payload);\nmsg.payload = Humidity;\nmsg.topic=\"Humidity\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":640,"wires":[["c799a927.668708","c27c6f7f.a3ca2"]]},{"id":"c799a927.668708","type":"debug","z":"cdf742f3.4c11b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":720,"wires":[]},{"id":"d292ad19.f05e8","type":"function","z":"cdf742f3.4c11b","name":"Sound Index","func":"msg.payload = msg.payload.Sound;\nvar Sound = msg.payload;\nvar Sound_index;\n\nif(Sound>=0 && Sound<=9){\n    Sound_index = \"The Room is Quite\"\n}\nelse if(Sound>9 && Sound<200 ){\n    Sound_index = \"The Room is Moderate\"\n}\nelse if(Sound>=200 && Sound<500){\n    Sound_index = \"The Room is Noisy\"\n}\nelse if(Sound>=450){\n    Sound_index = \"The room is Intolerable\"\n}\nmsg.topic = Sound_index;\nreturn msg;\n\n\n\n\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":700,"wires":[["11a409e2.8ae816","2c34b702.b9d878","ccf417ae.328da8","8d989e39.855f4"]]},{"id":"82b45bfb.62f0f8","type":"debug","z":"cdf742f3.4c11b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":540,"wires":[]},{"id":"fe51ad2f.d4c42","type":"function","z":"cdf742f3.4c11b","name":"Light Index","func":"msg.payload = msg.payload.Light;\nvar Light = msg.payload;\nvar Light_index;\n\nif (Light< 10){\n    Light_index= \"The room is Dark\"\n}\n\nelse if(Light>=10 && Light <200){\n    Light_index= \"The room is Dim\"\n}\nelse if(Light>=200 && Light<400){\n    Light_index= \"The room is Light\"\n}\nelse if(Light>=400 && Light<700){\n    Light_index = \"The room is Bright\"\n}\nelse if(Light>=700){\n    Light_index = \"The room is very Bright\"\n}\n\n\nmsg.topic = Light_index;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":520,"wires":[["c1b2907e.ad26a","1abb4555.3f645b","5755f5ab.f0364c","d88f25d6.724f28"]]},{"id":"162e5e38.d7d442","type":"debug","z":"cdf742f3.4c11b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":460,"wires":[]},{"id":"87b88ca7.654c5","type":"debug","z":"cdf742f3.4c11b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":700,"wires":[]},{"id":"d88f25d6.724f28","type":"debug","z":"cdf742f3.4c11b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":480,"wires":[]},{"id":"d7555d7c.8a4e7","type":"debug","z":"cdf742f3.4c11b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":400,"wires":[]},{"id":"89dfdebb.e5e2e","type":"function","z":"cdf742f3.4c11b","name":"Temperature Index","func":"msg.payload = msg.payload.Temperature;\nvar Temperature = msg.payload;\nvar Temperature_index;\n\nif (Temperature< 0){\n    Temperature_index= \"The temperature is freezing\"\n}\n\nelse if(Temperature>0&& Temperature <15){\n    Temperature_index= \"The room temperature is cold\"\n}\nelse if(Temperature>=15 && Temperature<25){\n    Temperature_index= \"The room temperature is comfortable\"\n}\nelse if(Temperature>=25 && Light<56){\n    Temperature_index = \"The room temperature is very hot\"\n}\nelse if(Temperature>=56){\n    Temperature_index = \"The room temperature is intolerable and dangerous\"\n    }\nmsg.topic = Temperature_index;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":320,"wires":[["4e742584.c0e9fc","b1484d35.cd6fc","451c6d74.fbd874","a4eacc0b.d99c1"]]},{"id":"3255c332.7ccf7c","type":"debug","z":"cdf742f3.4c11b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":320,"wires":[]},{"id":"a4eacc0b.d99c1","type":"debug","z":"cdf742f3.4c11b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":280,"wires":[]},{"id":"e848c401.afd4c8","type":"mongodb2 in","z":"cdf742f3.4c11b","service":"_ext_","configNode":"f4bc4518.cbf658","name":"","collection":"sensordata","operation":"insertOne","x":1290,"y":460,"wires":[["162e5e38.d7d442"]]},{"id":"819b4a7d.90b968","type":"ui_text","z":"cdf742f3.4c11b","group":"f72d3894.194d78","order":1,"width":0,"height":0,"name":"","label":"Humidex : ","format":"{{msg.topic}}","layout":"row-left","x":1100,"y":180,"wires":[]},{"id":"5755f5ab.f0364c","type":"ui_text","z":"cdf742f3.4c11b","group":"f72d3894.194d78","order":5,"width":0,"height":0,"name":"","label":"Light Index :","format":"{{msg.topic}}","layout":"row-left","x":1110,"y":620,"wires":[]},{"id":"ccf417ae.328da8","type":"ui_text","z":"cdf742f3.4c11b","group":"f72d3894.194d78","order":7,"width":0,"height":0,"name":"","label":"Sound Index :","format":"{{msg.topic}}","layout":"row-left","x":1120,"y":800,"wires":[]},{"id":"4e742584.c0e9fc","type":"ui_text","z":"cdf742f3.4c11b","group":"f72d3894.194d78","order":3,"width":0,"height":0,"name":"","label":"Temperature :","format":"{{msg.topic}}","layout":"row-left","x":1100,"y":400,"wires":[]},{"id":"8e1110cb.8c92b","type":"ui_gauge","z":"cdf742f3.4c11b","name":"","group":"87089218.891dd","order":1,"width":"4","height":"3","gtype":"gage","title":"Humidex","label":"Celsius","format":"{{msg.payload}}","min":0,"max":"54","colors":["#00b500","#e6e600","#59c4de"],"seg1":"","seg2":"","x":1100,"y":220,"wires":[]},{"id":"1abb4555.3f645b","type":"ui_gauge","z":"cdf742f3.4c11b","name":"","group":"87089218.891dd","order":2,"width":"4","height":"3","gtype":"gage","title":"Light","label":"units","format":"{{msg.payload}}","min":0,"max":"700","colors":["#00b500","#f7f736","#be2727"],"seg1":"","seg2":"","x":1090,"y":580,"wires":[]},{"id":"2c34b702.b9d878","type":"ui_gauge","z":"cdf742f3.4c11b","name":"","group":"87089218.891dd","order":2,"width":0,"height":0,"gtype":"gage","title":"Sound","label":"units","format":"{{}}","min":0,"max":"450","colors":["#00b500","#e6e600","#50103f"],"seg1":"","seg2":"","x":1090,"y":740,"wires":[]},{"id":"451c6d74.fbd874","type":"ui_gauge","z":"cdf742f3.4c11b","name":"","group":"87089218.891dd","order":1,"width":"4","height":"3","gtype":"gage","title":"Temperature","label":"Celsius","format":"{{msg.payload}}","min":0,"max":"54","colors":["#00b500","#e6e600","#c41212"],"seg1":"","seg2":"","x":1090,"y":360,"wires":[]},{"id":"f313ead.5593318","type":"ui_chart","z":"cdf742f3.4c11b","name":"","group":"106adcc1.763553","order":1,"width":"12","height":"3","label":"Humidex","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"54","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#19c270","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d72877","#ff9896","#9467bd","#80ed12"],"outputs":1,"x":1100,"y":140,"wires":[[]]},{"id":"c1b2907e.ad26a","type":"ui_chart","z":"cdf742f3.4c11b","name":"","group":"106adcc1.763553","order":2,"width":"12","height":"3","label":"Light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"700","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d1e633","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1090,"y":540,"wires":[["82b45bfb.62f0f8"]]},{"id":"11a409e2.8ae816","type":"ui_chart","z":"cdf742f3.4c11b","name":"","group":"106adcc1.763553","order":2,"width":"12","height":"3","label":"Sound","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"450","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e2ee87","#aec7e8","#f47201","#2ca02c","#7be665","#d62728","#ff9896","#a47dca","#c5b0d5"],"outputs":1,"x":1090,"y":700,"wires":[["87b88ca7.654c5"]]},{"id":"b1484d35.cd6fc","type":"ui_chart","z":"cdf742f3.4c11b","name":"","group":"106adcc1.763553","order":1,"width":"12","height":"3","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"54","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#19c270","#053a80","#ff7f0e","#2ca02c","#98df8a","#d72877","#ff9896","#9467bd","#5e4c6b"],"outputs":1,"x":1090,"y":320,"wires":[["3255c332.7ccf7c"]]},{"id":"2495a33c.860f1c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f4bc4518.cbf658","type":"mongodb2","uri":"mongodb://127.0.0.1:27017/IOTLAB","name":"","options":"","parallelism":"-1"},{"id":"f72d3894.194d78","type":"ui_group","name":"Index","tab":"d82a3ade.b32e","order":3,"disp":true,"width":"8","collapse":false},{"id":"87089218.891dd","type":"ui_group","name":"Gauges","tab":"d82a3ade.b32e","order":2,"disp":true,"width":"4","collapse":false},{"id":"106adcc1.763553","type":"ui_group","name":"Charts","tab":"d82a3ade.b32e","order":2,"disp":true,"width":"12","collapse":false},{"id":"d82a3ade.b32e","type":"ui_tab","name":"Welcome To IOT LAB","icon":"dashboard","order":1,"disabled":false,"hidden":false}]